{% extends 'base.html' %}
{% load static %}
{% block title%} | Cerca tuyo {% endblock %}
{% block content %} 

<img src="{% static 'img/logo.PNG' %}" class="logo" alt="rioba" style="width:200px;height:100px;" >
<ul>
    <p><a href="{% url 'index' %}">Index</a></p>
    <p><a href="{% url 'nosotros' %}">Nosotros</a></p>
    {% if user.is_authenticated %}
    <li>Bienvenido {{ user.email }}</li>
    <p><a href="{% url 'logout' %}">Cerrar Sesión</a></p>

    {% else %}
    <p><a href="{% url 'registro' %}">registro</a></p>
    <p><a href="{% url 'login' %}">Iniciar Sesión</a></p>
    {% endif %}
  </ul>




{% endblock %} 